
html {
    height: 100%;
}

header{
    background: cornsilk;
}

h1 {
    margin-left: 30px;

}


body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: inherit;
}
  
main {
    flex: 1;
}

/*top navigation tab*/
.topnav {
    background-color: cornsilk;
    padding: 5px;
}

.topnav ul {
    list-style: none;
}

.topnav li {
    display: inline-block;
    position: relative;
    border-right: 1px solid #FBE790;
}

.topnav a{
    margin: 0 35px;
    text-decoration: none;
    text-transform: uppercase;
}

.topnav img {
    max-height: 40px;
    padding-left: 10px;
    padding-right: 5px;
    float: left;
}

#top {
    background-color: #bebebe;
    padding: 5px 0 20px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/*side tab for about page*/
.side-tab {
    height: 100%;
    width: 250px;
    position: fixed;
    overflow-x: hidden;
    background-color:#bebebe;

}

.side-tab :first-child {
    margin-top: 20px;
}

/* <a> */
.side-tab a {
    text-decoration: none;
    text-transform: uppercase;
    color:#333333;
    padding: 15px 0 15px 0px;
    padding-left: 40%;
    display: block;
}
.side-tab a:focus {
    color: #a9a9a9;
    text-decoration: underline #a9a9a9;
    
}

.side-tab a:hover {
    color: #a9a9a9;
}

.topnav a:hover {
    background-color: #FBE790;
}



/*list items*/
/* flex outer is part of index.html form*/
.form-container li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid gray;
    margin-bottom: 10px;
    width: 500px;
    justify-content: space-between;
}
  

.cardback ul li {
    margin-bottom: 15px;
    margin-left: 15px;
}


/* also part of index.html form */
.form-container li:last-child {
    border: none;
}


.cardback ul li span {
    font-weight: bold;
}



/* dashboard page*/

* {
    box-sizing: border-box;
}

.search {
    display: flex; 
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.search input {
    padding: 15px;
    width: 100%;
}

.search button {
    float: right;
    padding: 10px;
    cursor: pointer;
}


.card-section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-left: 50px;
    padding-top: 20px;
}


.container {
    width: 300px; 
    height: 450px;
    perspective: 1000px;
    padding: 5px;
}
.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .6s;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16),
                0 1px 3px rgba(0, 0, 0, 0.23);
    background-color: #fbfaf4;
    margin: 5px;
    position: relative;
}

.container:hover .card, .container.hover .card {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 80%;
    transform-style: preserve-3d;
    transition: transform .6s;
    border-radius: 10px 10px 0px 0px;
}
.card h3 {
    text-align: center;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}


.cardfront, .cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.cardfront {
    transform: rotateY(0deg);
}



.cardback {
    transform: rotateY(180deg);
    background-color: #fbfaf4;
}

.cardback .btn {
    position: absolute;
    border-radius: 20px;
    bottom: 20px;
    left: 50%;
    margin-left:-40px;
    width: 80px;
    height: 40px;
    border: none;
    background-color: #d8eefd;
    display: inline-block;
    cursor: pointer;
}

.cardback .btn:hover {
    background-color: #bedef3;
}

.cardback ul {
    list-style-type: none;
    padding: 5px;
}


iframe {
    width: 250px;
    height: 250px;
}

table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr th {
    color: grey;
}

td {
    text-align: center;
    padding: 1rem;
}

/* INDEX PAGE */

/* index.html table*/ 
.list-table {
    margin-top: 3em;
    margin-bottom: 50px;
}

.form-container {
    padding: 0;
    max-width: fit-content;
    margin: auto;
  }

/* form description */ 
.form-container p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.form-container li label {
    padding: 10px;
    flex: 1 0 100px;
}

.form-container li input,.form-container li textarea {
  padding: 10px;
  border: black;
}

.form-container li textarea {
    padding-left: 2em;
}

.form-container li button {
    padding: 8px 16px;
    background: black;
    color: #f2f2f2;
    border-radius: 2px;
} 


/*About page*/


.about {
    display:none;
}

.privacy, .about {
    margin-left: 250px;
    padding: 1em;
}

.side-tab :last-child:focus + .about {
    display: block;
}







.privacy h2, .about h2 {
    margin-left: 20px;
}

.privacy p, .about p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



/* footer*/

#copyright {
    padding-top: 50px;
    text-align: right;
    color: #a9a9a9;
}
