
html {
    height: 100%;
}

header{
    background: cornsilk;
}

h1 {
    margin-left: 30px;
}

h2 {
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}


body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: inherit;
}
  
main {
    flex: 1;
    overflow-x: hidden;
    font-size: 90%;
}

/*top navigation tab*/
.topnav {
    overflow: hidden;
    position: relative;
    background-color: cornsilk;
}

.topnav .page-links {
    display: none;
    padding-top: 10px;
}

.topnav img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.topnav .hamburger-menu {
    color: #bebebe;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 15px;
}


.topnav .page-links a {
    font-size: 16px;
    display: block;
    padding: 10px 14px;
    color: #999999;
    text-transform: uppercase;
}

.topnav .page-links a:hover {
    background-color: rgb(247, 230, 164);
}

.topnav .hamburger-menu:hover {
    color: rgb(151, 151, 151);
}


#top {
    background-color: #bebebe;
    padding: 5px 0 20px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/*side tab for about page*/

.side-tab {
    display: none;
}


/*list items*/

/* flex outer is part of index.html form*/
.form-container li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid gray;
    margin-bottom: 10px;
    /* width: 500px; */
    /* justify-content: space-between; */
}

/* also part of index.html form */
.form-container li:last-child {
    border: none;
}  



/* dashboard page*/

* {
    box-sizing: border-box;
}

.search {
    display: flex; 
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.search input {
    padding: 15px;
    width: 100%;
}

.search button {
    float: right;
    padding: 10px;
    cursor: pointer;
}


/*flip card effect references: https://www.w3schools.com/howto/howto_css_flip_card.asp
                               https://www.youtube.com/watch?v=uR7EbQImYmo
                               https://davidwalsh.name/css-flip*/

.card-section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.container {
    width: 300px; 
    height: 450px;
    padding: 5px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
}
.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16),
                0 1px 3px rgba(0, 0, 0, 0.23);
    background-color: #fbfaf4;
    margin: 5px;
    position: relative;
}

.card img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0px 0px;
}
.card h3 {
    text-align: center;
    flex-wrap: wrap;
    padding: 5px 1rem;
}

.cardfront{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



iframe {
    display: none;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr th {
    color: grey;
}

td {
    text-align: center;
    padding: 1rem;
}

/* INDEX PAGE */

/* index.html table*/ 
.list-table {
    margin-top: 3em;
    margin-bottom: 50px;
    counter-reset: row-num - 1;
    border-collapse: collapse; 
    empty-cells: show;
}
/*auto increment row num* ref: https://infoheap.com/css-automatic-table-row-numbering/ */
.list-table tr {
    counter-increment: row-num;
  }
.list-table tr td:first-child::before {
      content: counter(row-num) ". ";
  }

/* TEST */

.list-table td { position: relative;
}

.list-table tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

tr.strikeout td:after {
    content: "\00B7";
    font-size: 1px;
  }

.form-container {
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
 }

 .font-strike { text-decoration: line-through; }

/*About page*/

.content {
    margin-left: 250px;
    padding: 1em;
    display: initial;
}

.content h2 {
    margin-left: 20px;
}

.content h3 {
    margin-left: 30px;
    padding: 30px 0 15px;
}

.content p {
    width : 90%;
    margin-left: auto;
    margin-right: auto;
}


.profile-container {
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 350px;
    height: 150px;
    background-color: #e7e6e6;
    border-radius: 10px;
}


.profile-container img {
    margin: 25px 0 0 15px;
    width: 100px;
    height: 100px;
    flex: 1;
    display: block;
    border-radius: 50%;
}

.profile-container h4, .profile-container p {
    margin-left: 40px;
    display: block;
}

.profile-container h4 {
    margin-top: 40px;
}


/* index page form description */ 
div.form-container p, div.form-container h2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.form-container li label {
    padding: 10px;
    flex: 1 0 100px;
}

.form-container li input,.form-container li textarea {
  padding: 10px;
  border: black;
}

.form-container li textarea {
    padding-left: 2em;
}

/* TESTING 3*/
.form-container > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.form-container > li > label + * {
  flex: 1 0 220px;
}

.form-container li p {
  margin: 0;
}



.form-button {
    padding: 8px 16px;
    background: black;
    color: #f2f2f2;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
} 



/* footer*/

footer {
    bottom: 0;
    margin-top: 50px;
    padding-right: 10px;
    text-align: right;
    color: #a9a9a9;
}


/* medium screen (768px): no hamburger menu*/
@media (min-width: 768px) {

    /*top*/

    .topnav {
        display: flex;
    }

    .hamburger-menu {
        display: none;
    }

    .topnav img {
        margin-right: 40px;
    }

    .topnav .page-links {
        display: block;
    }



    /*Dashboard page*/

    .card-section {
        justify-content: left;
    }


    .container {
        perspective: 1000px;
    }

    .card {
        transform-style: preserve-3d;
        transition: transform .6s;
    }
    
    .card img {
        transform-style: preserve-3d;
        transition: transform .6s;
    }
       
    .cardfront, .cardback {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
    }
    
    .cardfront {
        transform: rotateY(0deg);
    }
    
    
    .cardback {
        transform: rotateY(180deg);
        background-color: #fbfaf4;
    }
    
    
    .cardback ul {
        list-style-type: none;
        padding: 5px;
    }

    .cardback ul li {
        margin-bottom: 15px;
        margin-left: 15px;
    }
    
    
    .cardback ul li span {
        font-weight: bold;
    }
    

    .container:hover .card, .container.hover .card {
        transform: rotateY(180deg);
    }


    
    iframe {
        display: block;
        width: 90%;
        height: 200px;
        margin-left: 2%;
    }

    table {
        width: 60%;
    }

    /*About page*/
   
    
    .content {
        display: block;
    }

    .content:last-of-type {
        display: none;
    }
    


    .side-tab {
        display: block;
        height: 100%;
        width: 250px;
        position: fixed;
        overflow-x: hidden;
        background-color:#bebebe;
    
    }
    
    .side-tab :first-child {
        margin-top: 20px;
    }
    
    /* <a> */
    .side-tab a {
        text-decoration: none;
        text-transform: uppercase;
        color:#333333;
        padding: 15px 0 15px 0px;
        padding-left: 40%;
        display: block;
    }

    .topnav .page-links a {
        float: left;
        text-align: center;
        border-right: solid rgb(247, 230, 164);
    }

    .side-tab a:first-of-type {
        color:#8f8f8f;
        text-decoration: underline #8f8f8f;
    }

    
    .side-tab a:hover {
        color: #8f8f8f;
    }  
    
    


}    

    



